name: Create NPM release
on:
  release:
    types: [published]
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.target_commitish }}

      - name: Set node version and build
        uses: actions/setup-node@v4
        with:
          always-auth: true
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"
      - run: yarn install --frozen-lockfile
      - run: yarn build

      - name: Publish version
        run: yarn npm publish --registry https://registry.npmjs.org/ --access public
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_API_TOKEN }}
